<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('newProduct', (product) => {
      const productsList = document.getElementById('product-list');
      const newProductHTML = `<li id="product-${product.id}">${product.title} - $${product.price} <form action="/api/products/${product.id}?_method=DELETE" method="POST"><button type="submit">Eliminar</button></form></li>`;
      productsList.innerHTML += newProductHTML;
    });

    socket.on('productDeleted', (productId) => {
      const productList = document.getElementById('product-list');
      const productItem = document.getElementById(`product-${productId}`);
      if (productItem) productList.removeChild(productItem);
    });
  </script>
</head>
<body>
  <h1>Productos</h1>
  
  <!-- Formulario para agregar productos -->
  <h2>Agregar Producto</h2>
  <form action="/api/products" method="POST">
    <label for="title">Título:</label>
    <input type="text" name="title" required><br><br>
    
    <label for="description">Descripción:</label>
    <input type="text" name="description" required><br><br>
    
    <label for="code">Código:</label>
    <input type="text" name="code" required><br><br>
    
    <label for="price">Precio:</label>
    <input type="number" name="price" required><br><br>
    
    <label for="stock">Stock:</label>
    <input type="number" name="stock" required><br><br>
    
    <label for="category">Categoría:</label>
    <input type="text" name="category" required><br><br>
    
    <label for="thumbnails">Imagen (opcional):</label>
    <input type="text" name="thumbnails"><br><br>
    
    <button type="submit">Agregar Producto</button>
  </form>
  
  <h2>Lista de Productos</h2>
  <ul id="product-list">
    {{#each products}}
      <li id="product-{{this.id}}">
        {{this.title}} - ${{this.price}}
        <form action="/api/products/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Eliminar</button>
        </form>
      </li>
    {{/each}}
  </ul>

  <a href="/realtimeproducts">Ver productos en tiempo real</a>
</body>
</html>